/* Основной контейнер */
.container {
  text-align: center;
  padding: 20px;
}

/* Иконка 💸 */
.money-icon {
  display: inline-block; /* Убедитесь, что эмодзи обрабатывается как блочный элемент */
  font-size: 10rem; /* Увеличиваем размер в 5 раз */
  margin-top: 20px; /* Отступ сверху */
}

/* Заголовок */
h1 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Кнопки офферов */
.offers-buttons button {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.offers-buttons button:hover {
  background-color: #45a049;
}

/* Кнопка назад */
.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #d32f2f;
}
